<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>British Soldiers List</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
      <h1>WW2 Jewish Soldiers</h1>
      <a href="/">Home</a>
      <a href="/soldierlistFULL">Soldier List</a>
      <a href="/addFULL">Add New Soldier</a>
      <a href="/search">Search and Update Soldier</a>
      <a href="/searchBritish">Search British Soldier</a>
    </div>
  </header>
  
  <div class="container">
    <br><br><br><br>
    <h2>British Soldiers</h2>
    <table>
      <thead>
        <tr>
          <th>Title ID</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Surname</th>
          <th>Service ID</th>
          <th>Rank ID</th>
          <th>Unit ID</th>
          <th>Year In</th>
          <th>Service Number</th>
          <th>Post Code</th>
          <th>Deceased</th>
        </tr>
      </thead>
      <tbody>
        <% britishsoldiers.forEach(soldier => { %>
          <tr>
            <td><%= soldier.titleID %></td>
            <td><%= soldier.firstName %></td>
            <td><%= soldier.middleName %></td>
            <td><%= soldier.surname %></td>
            <td><%= soldier.serviceID %></td>
            <td><%= soldier.rankID %></td>
            <td><%= soldier.unitID %></td>
            <td><%= soldier.yrIn %></td>
            <td><%= soldier.servNo %></td>
            <td><%= soldier.postCode %></td>
            <td><%= soldier.deceased  %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
